{% load static %}
<html>
<head>
<title>TEXT and IMAGE Plagiarism Detection</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1><font color="orange" size=6>TEXT and IMAGE Plagiarism Detection</font></h1>
	  <marquee><font color="pink" size=4>TEXT and IMAGE Plagiarism Detection</font></marquee>
    </div>
   
  
    </div>
  </div>
  <div id="menu">
     <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'Login' %}">Login</a></li>
	  <li><a href="{% url 'Register' %}">New User Signup Here</a></li>
      
   </ul>
  </div>
  <div id="page">
   <div id="content">
      <div class="post">
        <div class="title">
          <h2>TEXT and IMAGE Plagiarism Detection </h2>
         </div>
        <div class="entry">
		 <br/><br/><br/>
{{ data }}
	 
	 <br>
          <p><img src="{% static 'images/images.jpg' %}" alt="" width="890" height="200" class="left" /><p></p><font size="4" color="white">
          <center><br/>About Plagiarism Detection </center></font></p>
          <p><font size="" color="white">TEXT Plagiarism With Refined LCS  </p>
          </div>
        
      </div>
     
       
       
    </div>
    
  </div>

</body>
</html>
