{% load static %}
<html>
<head>
<title>TEXT and IMAGE Plagiarism Detection</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="screen" />
 <script LANGUAGE="Javascript" >
function validate(){
	var x=document.forms["f1"]["t1"].value;
	if(x == null || x==""){
		window.alert("File must be upload");
		document.f1.t1.focus();
		return false;
	}
	
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1><font color="orange" size=6>TEXT and IMAGE Plagiarism Detection</font></h1>
	  <marquee><font color="pink" size=4>TEXT and IMAGE Plagiarism Detection</font></marquee>
    </div>
   
  
    </div>
  </div>
  <div id="menu">
     <ul>
      <li><a href="{% url 'UploadSource' %}">Upload Source Files</a></li>
      <li><a href="{% url 'UploadSuspiciousFile' %}">Upload Suspicious File</a></li>
	  <li><a href="{% url 'UploadSourceImage' %}">Upload Source Images</a></li>
	  <li><a href="{% url 'UploadSuspiciousImage' %}">Upload Suspicious Image</a></li>
	  <li><a href="{% url 'index' %}">Logout</a></li>
      
   </ul>
  </div>
  <div class="entry">
   <br/><br/><br/>
	<font size="" color="white"><center>{{ data }}</center></font>
	 <br>
	 <center><font size="3" color="white">Plagiarism Checking Screen</font></center>
	<form name="f1" method="post" action={% url 'UploadSuspiciousImageAction' %} enctype="multipart/form-data" OnSubmit="return validate()">
	{% csrf_token %}
	<br><br>
	<TABLE align=center width="35%" class="notepad">
		<TR><TH align="left">Upload&nbsp;Suspicious&nbsp;File
		<TD>&nbsp;&nbsp;<Input type="file" name="t1">
		</TD>
		</TR>
		
		
		  <TR>
				 <TD></TD>
			<TD>	
		  <input type="submit" value="Check Plagiarism">
		 
		  </TABLE>
		
</form>
</div>

</body>
</html>
